<!doctype html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h1>You have a new friend request!</h1>
Visit <a href="#{@url}">friends on Bumblebeans</a> to see
<br/>
<br/>
Have a great day!
<br/>
- Sarah
</body>
</html>